{% extends 'base.html' %}

{% block content %}
  <div style="text-align: right">
    <a href="/" class="btn btn-secondary">Salir</a>
  </div>
  <div style="text-align: center">
    <img class="mb-4" src="/static/img/jaguar.png" alt="" width="150" height="150" />
    <h1 class="h3 mb-3 fw-normal">Administración de Usuarios</h1>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <button type="button" class="btn btn-primary" id="btn-add">Nuevo</button>
      <br /><br />
      <div style="text-align: center">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Cargo</th>
              <th>Usuario</th>
              <th>Contraseña</th>
              <th width="100">Herramientas</th>
            </tr>
          </thead>
          <tbody>
            {% for rs in todos %}
              <tr>
                <td>{{ rs.id }}</td>
                <td>{{ rs.name }}</td>
                <td>{{ rs.cargo }}</td>
                <td>{{ rs.username }}</td>
                <td>{{ rs.user_password }}</td>

                <td>
                  <a href="edit/{{ rs.id }}" class="btn btn-success">Editar</a> <a href="delete/{{ rs.id }}" class="btn btn-danger">Borrar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> 
  <div class="modal fade" id="createuser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Nuevo Usuario</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <form id ="crear" action="/usr/crear/" name ="crear">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="name" class="form-control validate">
          <label data-error="wrong" data-success="right" for="name">Nombre</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="username" class="form-control validate">
          <label data-error="wrong" data-success="right" for="username">Usuario</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="cargo" class="form-control validate">
          <label data-error="wrong" data-success="right" for="cargo">Cargo</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="password" id="user_password" class="form-control validate">
          <label data-error="wrong" data-success="right" for="user_password">Contraseña</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" class="btn btn-unique">Crear<i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script> 
    $(document).ready(function(){
      $("#btn-add").click(function(){
        $("#createuser").modal('show')
        alert("Crearás un nuevo Usuario")
      });

      $('#crear').submit(function(){
          $.ajax({
            type:"POST"
            
          })
      })

      $("#btn-save").click(function(){
        alert(1)
        console.log('1')
      });
    });
  </script>
{% endblock %}
