{% extends 'base2.html' %}
{% block content %}
  <section class="p-3">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary newUser" data-bs-toggle="modal" data-bs-target="#userForm">Nuevo Documento<i class="bi bi-people"></i></button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table id="documents" class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Fecha</th>
              <th>Num.Oficio</th>
              <th>Asunto</th>
              <th>Remitente</th>
              <th>Turnado</th>
              <th>Respuesta</th>
              <th>Fecha de Emisión</th>
              <th>Herramientas</th>
            </tr>
          </thead>

          <tbody>
            {% for docs in documents %}
              <tr>
                <td>{{ docs.id }}</td>
                <td>{{ docs.fecha }}</td>
                <td>{{ docs.numoficio }}</td>
                <td>{{ docs.asunto }}</td>
                <td>{{ docs.remitente }}</td>
                <td>{{ docs.turn }}</td>
                <td>{{ docs.resp }}</td>
                <td>{{ docs.femi }}</td>
                <td>
                  <a href="/doc/{{ docs.id }}" class="btn btn-success">Editar</a> <a href="/doc/borrar/{{ docs.id }}" class="btn btn-danger">Borrar</a> <a href="/doc/show/{{docs.id}}" target="_blank" class="btn btn-success">Mostrar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <!-- Modal Form -->
  <div class="modal fade" id="userForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nuevo Documento</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form action="/doc/create/" id="myForm">
            <div class="inputField">
              <div>
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" id="fecha" required />
              </div>
              <div>
                <label for="numoficio">Num. Oficio:</label>
                <input type="text" name="numoficio" id="numoficio" required />
              </div>
              <div>
                <label for="asunto">Asunto:</label>
                <input type="text" name="asunto" id="asunto" required />
              </div>
              <div>
                <label for="remitente">Remitente:</label>
                <input type="text" name="remitente" id="remitente" required />
              </div>
              <div>
                <label for="remitente">Turnado a:</label>
                <select name="turn" id="turn">
                  <option value="No">No Turnado</option>
                  <option value="Investigación">Investigación</option>
                  <option value="Formación de Rh">Formación de RH</option>
                  <option value="Capacitación">Capacitación</option>
                  <option value="Telemedicina">Telemedicina</option>
                </select>
              </div>
              <div>
                <label for="resp">Respuesta Num. Ofico:</label>
                <input type="text" name="resp" id="resp" required />
              </div>
              <div>
                <label for="femi">Fecha de Respuesta:</label>
                <input type="date" name="femi" id="femi" required />
              </div>
              <div>
                <label for="url">Url de Documento Recibido:</label>
                <input type="text" name="url" id="url" required />
              </div>
              <div>
                <label for="urlresp">Url de Documento Respuesta:</label>
                <input type="text" name="urlresp" id="urlresp" required />
              </div>
            </div>
            <button type="submit" id="submit_form" class="btn btn-primary submit">Crear</button>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" integrity="sha512-eYSzo+20ajZMRsjxB6L7eyqo5kuXuS2+wEbbOkpaur+sA2shQameiJiWEzCIDwJqaB0a4a6tCuEvCOBHUg3Skg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>
    <script>
      $(document).ready(function () {
        $('#documents').DataTable()
      
        const form = $('#myForm')
      
        form.validate()
      
        form.submit(function (e) {
          e.preventDefault()
      
          var fecha = $('#fecha').val()
          var numoficio = $('#numoficio').val()
          var asunto = $('#asunto').val()
          var remitente = $('#remitente').val()
          var turn = $('#turn').val()
          var resp = $('#resp').val()
          var femi = $('#femi').val()
          var url = $('#url').val()
          var urlresp = $('#urlresp').val()
      
          alert('Está por crear un nuevo registro')
      
          if (form.valid()) {
            $.ajax({
              url: '/doc/create/',
              type: 'POST',
              //dataType: 'json',
              data: {
                fecha: fecha,
                numoficio: numoficio,
                asunto: asunto,
                remitente: remitente,
                turn:turn,
                resp:resp,
                femi:femi,
                url:url,
                urlresp:urlresp
              },
              beforeSend: function () {
                $.blockUI()
              },
              success: function (data) {
                // const json = JSON.parse(data);
                location.reload()
              },
              complete: function () {
                $.unblockUI()
              },
              error: function () {
                alert('Ha ocurrido un error, intentalo de nuevo más tarde')
              }
            })
          }
        })
      })
    </script>
  {% endblock %}
{% endblock %}
