{% extends 'base2.html' %}
{% block content %}
  <div class="btn-text-right" style="text-align: right;">
    <a href="/doc"><button type="button" class="btn btn-primary">Cancelar</button></a>
  </div>
  <div class="container" style="text-align: center;">
    <div class="abs-center" style="text-align: center;">
      <form action="/doc/update/{{ search.id }}" method="post">
        <div class="mb-3">
          <label>Fecha</label>
          <input type="date" name="fecha" placeholder="fecha" class="form-control" value="{{ search.fecha }}" />
        </div>
        <div class="mb-3">
          <label>Num. Oficio</label>
          <input type="text" name="numoficio" placeholder="Numero de Oficio" class="form-control" value="{{ search.numoficio }}" />
        </div>
        <div class="mb-3">
          <label>Asunto</label>
          <input type="text" name="asunto" placeholder="Asunto" class="form-control" value="{{ search.asunto }}" />
        </div>
        <div class="mb-3">
          <label>Remitente</label>
          <input type="text" name="remitente" placeholder="Remitente" class="form-control" value="{{ search.remitente }}" />
        </div>
        <div>
          <label for="remitente">Turnado a:</label>
          <select name="turn" id="turn">
            <option value="No">No Turnado</option>
            <option value="Investigación">Investigación</option>
            <option value="Formación de Rh">Formación de RH</option>
            <option value="Capacitación">Capacitación</option>
            <option value="Telemedicina">Telemedicina</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Respuesta:</label>
          <input type="text" name="resp" placeholder="respuesta" class="form-control" value="{{ search.resp }}" />
        </div>
        <div class="mb-3">
          <label>Fecha de Respuesta:</label>
          <input type="date" name="femi" placeholder="Fecha de Respuesta" class="form-control" value="{{ search.femi}}" />
        </div>
        <div class="mb-3">
          <label>Documento Escaneado:</label>
          <input type="text" name="url" placeholder="Documento Escaneado" class="form-control" value="{{ search.url }}" />
        </div>
        <div class="mb-3">
          <label>Respuesta Escaneada:</label>
          <input type="text" name="urlresp" placeholder="Respuesta Escaneada" class="form-control" value="{{ search.urlresp }}" />
        </div>

        <input type="submit" value="Update" class="btn btn-primary mb-3" />
      </form>
    </div>
  </div>
{% endblock %}
