{% extends 'base.html' %}
 
{% block content %}
<main class="form-signin w-100 m-auto">
  <form action="/usr/login" method = "post" >
    <div style = "text-align: center">
    <img class="mb-4" src="/static/img/jaguar.png" alt="" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" name="username" id="username" placeholder="Nombre de Usuario" required >
      <label for="username">Nombre de Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="user_password" id="user_password" placeholder="Password" required>
      <label for="user_password">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit" value="Entrar">Entrar</button>
    <center>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2024 Copyright Ing. Jesús Alberto Palma García</p>
    </center>
  </form>
{% endblock content %}